body{
    font-family: 'Open Sans', sans-serif;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-title{
font-size: 45px;
font-weight: 800;
color: #000;
}
nav > ul{
    display: flex;
    align-items: center;
}
.primary-colour{
    color: #FD6E0A;;
}
nav li{
    list-style: none;
    margin-right: 50px;
}
.btn-primary{
    border-radius: 5px;
    background: #FD6E0A;
    border: 0;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    color: white;
    padding: 15px 35px;
}